#============================
# TELEGRAM CHANNEL SETTINGS |
#============================

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
OWNER_USERNAME=
OWNER_CHAT_ID=

#=====================
# LLM MULTIMODAL API |
#=====================

LLM_API_KEY=
LLM_BASE_URL=
LLM_MODEL=
LLM_TEMPERATURE=
LLM_MAX_TOKENS=

#=====================
# MANAGERS SETTINGS  |
#=====================

BROADCAST_DELAY_HOURS=
BROADCAST_ENABLED=
CONTEXT_HOURS=
MAX_CONTEXT_MESSAGES=
LOG_LEVEL=

#=====================
# REDIS QUEUE - QA   |
#=====================

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_USERNAME=
REDIS_PASSWORD=
QUEUE_MAX_SIZE=
QUEUE_NUM_WORKERS=
QUEUE_MAX_RPM=
MEDIA_FOLDER=

#=====================
# SPEECH SYSTEM API  |
#=====================

SPEECH_API_KEY=
WHISPER_FUNCTION_ID=
WHISPER_SERVER=
LANGUAGE_CODE=
REDIS_SPEECH_DB=
REDIS_SPEECH_QUEUE=
MAX_SPEECH_WORKERS=
RIVA_LOCAL_URI=
SCRIPT_PATH=
SPEECH_FOLDER=